<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprar produtos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class = "Topo">
        <h1>Farmácia farmacos</h1>
        <p>Compra</p>
    </div>
    <main>
        <div>
          <form action="/comprar">
          <label for="remedio">Remédio</label>
          <select type="number" name="remedio" id="remedio">
            <% @remedios.each do |remedio|%>
            <option value = "<%= remedio[0]%>" > <%= remedio[1]%></option>
            <%end%>  
          </select>
          <label for="cliente">Cliente</label>
          <select type="text" name="cliente" id="cliente">
            <label for="cliente">Cliente</label>
            <% @clientes.each do |cliente|%>
            <option value="<%= cliente[1]%>"> <%= cliente[1]%> </option>
            <%end%>
          </select>
          <input type="submit" value = "Comprar">
        </form>
        </div>
        <div>
                <table>
                <caption>Pedidos feitos</caption>
            <thead>
                    <tr>
                    <th>Cliente</th>
                    <th>Produto</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <% @pedidos.each do |pedido| %>
                    <tr>
                    <td><%= pedido[2] %></td>
                    <td><%= pedido[1] %></td>
                    <td><%= pedido[3] %></td>
                    </tr>
                <% end %>
            </tbody>
            </table>
           <a href="/"><input type="button" value="Voltar"></a>
        </div>
    </main>
</body>
</html>  